.container{
  margin: 0 50px;
  .alert{
    position: absolute;
    right: -100%;
    top: 12%;
    background: #00b73e;
    padding: 10px;
    transition: .5s;
    border-radius: 10px;
    color: white;
    &.actvive {
      transition: .5s;
      right: 10%;
    }
  }
  
  .errorAlert{
    position: absolute;
    right:0%;
    top: 12%;
    background: #db4437;
    padding: 10px;
    transition: .5s;
    border-radius: 10px;
    color: white;
    &.errorActive{
    transition: .5s;
    right:10%;
    }
  }
  
  .register_card{
    background: whitesmoke;
    height: 100%;
    padding-bottom: 5px;
    h4{
      margin:0 30px;
      padding-top: 10px;
    }
    form{
      margin: 30px 30px;
      div{
        input{
          width: 100%;
          padding: 15px 0px;
          margin-bottom: 15px;
        }
      }
    }
    .register_btn{
      margin: 0 30px;

      button{
        padding: 15px 0;
        background-color: #4087fb;
        width: 100%;
        border:0;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .link_auth{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

